.App {
  text-align: center;
}

.background{
  position: fixed;
  top: 50px;
  left: 30  px;
  right: 30px;
  botton: 20px;
  /* Preserve aspet ratio */
  min-width: 90%;
  min-height: 100%;
  background-image: url(./background.jpg);
}


.shopdiv{
  padding: 3px 5px 5px 3px;
  width: fit-content;
  color: white;
  background-color: orange;
}

.shopdiv button{
  border: 2px;
  background-color: orange;
  border-radius: 5px;
  padding: 3px 5px 5px 3px;
  width: fit-content;
  color: white;
}


.heading{
  width: fit-content;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;

}


.minusButton{
  background-color: red;
  color: white;
  width: '10px';
}

.plusButton{

  background-color: green;
  color:white;
  width:'10px';

}
